
Frontend/src/fbConfig.json
.vs/slnx.sqlite
.vs/Volunteer-Hub/FileContentIndex/12f20b36-93b4-4ba4-a0b1-3dad7ef5e097.vsidx
.vs/Volunteer-Hub/FileContentIndex/3271a4ff-a15e-497f-a834-7f50a308827e.vsidx
.vs/Volunteer-Hub/FileContentIndex/6f452333-da5c-48b7-a6ed-c3e4981624cb.vsidx
.vs/Volunteer-Hub/FileContentIndex/read.lock
.vs/Volunteer-Hub/FileContentIndex/8700b923-eba5-49f1-8953-60ab52c4e9be.vsidx
.vs/Volunteer-Hub/v17/.suo
.vs/Volunteer-Hub/FileContentIndex/write.lock
.vs/Volunteer-Hub/FileContentIndex/merges/02053a0b-fa63-454f-9252-da6714247299.vsidx
.vs/Volunteer-Hub/FileContentIndex/476988ec-5f1b-4be0-bfb6-33af35551809.vsidx
.vs/Volunteer-Hub/FileContentIndex/merges/259cfbbc-893b-4e38-9150-abcf5452e9ff.vsidx
.vs/Volunteer-Hub/FileContentIndex/merges/acc224ee-1035-41fb-9546-7caca3f72b80.vsidx
.vs/ProjectSettings.json
.vs/Volunteer-Hub/FileContentIndex/0f568035-0768-4e19-bdc5-64f90139a662.vsidx
.vs/Volunteer-Hub/FileContentIndex/2163b084-2961-4cb5-8ac5-7c6c621d26ba.vsidx
.vs/Volunteer-Hub/FileContentIndex/4fc6b354-52dc-4bbf-a66d-e98cef6fd0e6.vsidx
.vs/Volunteer-Hub/FileContentIndex/6e97ee3f-968b-4347-aaf3-e8df564b98d5.vsidx
.vs/Volunteer-Hub/FileContentIndex/d96de8a6-dbe8-4749-9cef-11be9f1ad6ea.vsidx
.vs/VSWorkspaceState.json
.vs/Volunteer-Hub/FileContentIndex/6e97ee3f-968b-4347-aaf3-e8df564b98d5.vsidx
