.main-container {
  /* background-color: aqua; */
  height: min(500px, 100%);
  width: calc(100% - 20px);
  display: flex;

  justify-content: space-between;
  gap: 1%;
  margin-right: 20px;
  justify-self: center;
}

.main-container div {
  position: relative;

  width: 33.33%;
  transition: all 0.2s;
  flex-shrink: 1;
  box-shadow: 3px 3px 8px #00000078;
  border-radius:15px;
}

.main-container div:hover {
  width: 70%;
  flex-shrink: 0;
}

.main-container img {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 15px;
  object-fit: cover;
  transition: all 0.2s;
}

@media (max-width: 1000px) {
  .main-container {
    margin-right: 0px;
    width: 95%;
    height: 500px;
  }
}

/* .main-container .image3 img {
  object-position: center center;
}

.main-container .image3 img:hover {
  object-position: left center;
} */
