.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1300px) {
  .events {
    grid-template-columns: 1fr;
  }
}

.events a {
  text-decoration: none;
}
