:root{
  --primary-color : #00d0ff;
  --background-color: #ffffff;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Router{
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav, .footer{
  width: 100%;
  height: 3rem;
  background-color: var(--primary-color);
}