.eventPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 1em;
}
.eventBox {
  border-radius: 10px;
  border-color: black;
  width: 900px;
  flex: 1;
  height: auto;
  background-color: #5e5e5e;
  box-shadow: 2px 2px 10px #898989;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.eventBox h3 {
  color: white;
  flex: 1;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.eventBannerBox {
  width: 900px;
  height: 250px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #2e2e2e;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  position: relative;
}
.eventBannerContent {
  position: relative;
  width: 900px;
  top: 0;
  left: 0;
}
.eventBannerArrow {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.eventBannerImg {
  width: -webkit-fill-available;
  position: relative;
  height: fit-content;
}

.eventDescription {
  display: flex;
  flex-direction: row;
}
.eventDescription h1 {
  color: white;
  font-size: 2em;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-left: 12px;
  margin: 4px;
}
.eventDescription h2 {
  color: white;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  flex: 1;
  padding-left: 1rem;
}
.eventDescriptionLeft {
  flex: 1;
}
.eventDescriptionLeft h2 {
  margin: 4px;
  text-align: left;
}
.eventDescriptionLeft a,
.eventDescriptionLeft a:visited,
.eventDescriptionLeft a:link,
.eventDescriptionLeft a:-webkit-any-link {
  text-decoration: none;
  color: white;
  margin: 0;
}
.eventDescriptionLeft a:hover {
  text-decoration: none;
  color: #000;
  margin: 0;
}

.eventDescriptionRight h2 {
  text-align: right;
  padding-right: 1rem;
  margin: 4px;
}

.participate {
  width: auto;
  height: 45px;
  border-radius: 10px;
  border: 0ex;
  box-shadow: 2px 2px 10px #898989;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, var(--orange-color), var(--yellow-color) 100%);
}
.participate h2 {
  font-size: 1.5em;
  text-align: center;
  color: white;
  margin: 15px;
}
