.titleBackgroundBox {
  border-radius: 10px;
  border-color: var(--text-color);
  height: 300px;
  width: 100%;
  background-color: bisque;
  border-style: solid;
  position: absolute;
  border-width: 5px;
}
.background {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.backgroundAndPp {
  position: relative;
  width: 100%;
  height: 350px;
}
.name {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-bottom: 4%;
  color: var(--text-color);
  gap: 5px;
}
.spaceName {
  width: 200px;
}
.left {
  text-align: right;
  flex: 1 1;
}
.right {
  text-align: left;
  flex: 1;
}
.profilPicture {
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: var(--text-color);
  height: 250px;
  width: 250px;
  background-color: aqua;
  /* z-index: 100; */
  position: relative;
  margin-left: 40%;
  margin-top: 10%;
  overflow: hidden;
}
.profilePictureImage {
  width: inherit;
}
.profilePage {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 40px;
}
.aboutmeEvents {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.aboutme {
  background-color: var(--text-color);
  border-radius: 10px;
  min-height: 600px;
  width: 70%;
  color: white;
}
.aboutme h3 {
  text-align: left;
  margin-left: 5%;
}
.aboutme p {
  text-align: left;
  margin-left: 5%;
}
.events {
  color: var(--text-color);
}
