.inputField {
  background-color: rgb(255, 255, 255);
  color: #525252;

  width: calc(100% - 12px);
  height: 40px;

  margin: 23px 0 0 0;
  padding: 0 0 0 10px;

  border-radius: 3px;
  border: 1px solid #b2b2b2;
  transition: border-bottom-color 0.3s ease-in;

  font-size: 1rem;
}

.invalid {
  border-bottom: 3px solid red;
}

.valid {
  border-bottom: 3px solid green;
}

.inputField:focus {
  outline-color: #525252;
}

/* .title {
    margin-top: 10px;
} */

label {
  float: left;
  font-weight: bold;
  font-size: 1.2rem;
}

.info {
  line-height: 0.5rem;
  text-align: left;
}
