.invalid{
    background-color: red;
}

.valid {
    background-color: green;
}

.valid, .invalid {
    background-color: rgb(255, 255, 255);
    color: #525252;

    width: calc(100% - 10px);
    height: 30px;

    margin: 5px 0 13px 0;
    padding: 0;
    padding-left: 10px;

    border-radius: 20px;
    border: 2px solid #525252;
}

.title {
    margin-top: 10px;
}